/* 
=========================================================== 
    Autor: Jairo García Castro - UO271449
    Descripción de la hoja de estilo: 
    Hoja que se encarga de la gestión de las características
    generales de estilo: fuentes, colores, multimedia...
===========================================================
*/
body > header{
    background-color:rgb(91, 149, 197);
    padding: 0%;
}

footer{
    text-align: center;
    font-size: larger;
    background-color: rgb(91, 149, 197);
    font-weight: bold;
}

aside{ 
    background-color: rgb(91, 149, 197);
}


aside > h2{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

/* 0 0 1*/
body{    
    text-align: justify;
    background-color: rgb(117, 166, 206);
    font-size: large;
}
dt{
    font-weight: bold;
}

h1{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}


/* 0 0 3*/
table tr th{
    font-weight: bold;
    text-decoration: underline;
}

table tr th, td{
    border: 0.05em solid ;
    padding: 0.5em;
}

table{
    border-collapse: collapse;
    text-align: center;
}

main>section>button{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    font-size: large;
}

main>section>img {
    max-width: 50%;
    height: auto;
}

main>section>section{
    border:solid;
    border-radius: 0.5em;
    background-color: rgb(196, 219, 240);
    padding:0.5em;
    margin: 0.5em;
}

main>section:nth-of-type(3){
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

main>section>section>img{
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
}


